In [1]:
# Librería para manipulación y Análisis de Datos
import pandas as pd

In [2]:
# Descargar archivo preprocesado (datos numéricos)
!wget http://108.62.123.70/GarmentProd/new_number_garments_worker_productivity.csv

--2021-06-28 06:06:48--  http://108.62.123.70/GarmentProd/new_number_garments_worker_productivity.csv
Connecting to 108.62.123.70:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 73094 (71K) [text/csv]
Saving to: ‘new_number_garments_worker_productivity.csv.2’

new_number_garments 100%[===================>]  71.38K   200KB/s    in 0.4s

2021-06-28 06:06:49 (200 KB/s) - ‘new_number_garments_worker_productivity.csv.2’ saved [73094/73094]

In [3]:
%ls

new_number_garments_worker_productivity.csv
new_number_garments_worker_productivity.csv.1
new_number_garments_worker_productivity.csv.2
sample_data/

In [4]:
#Lectura del grupo de datos CSV
file_name = "new_number_garments_worker_productivity.csv"

#El método "read_csv" nos permite leer un CSV
dataset = pd.read_csv(file_name)

In [5]:
# Mostrar y verificar datos descargados
print(dataset.head())

   date  quarter  ...  no_of_workers  actual_productivity
0    56        1  ...           59.0             0.940725
1    56        1  ...            8.0             0.886500
2    56        1  ...           30.5             0.800570
3    56        1  ...           30.5             0.800570
4    56        1  ...           56.0             0.800382

[5 rows x 15 columns]

In [6]:
# Mostrar número de filas (registros) y columnas (características)
print(dataset.shape)

(1197, 15)

In [7]:
# Mostrar información actual de datos
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   int64
 1   quarter                1197 non-null   int64
 2   department             1197 non-null   int64
 3   day                    1197 non-null   int64
 4   team                   1197 non-null   int64
 5   targeted_productivity  1197 non-null   float64
 6   smv                    1197 non-null   float64
 7   wip                    1197 non-null   float64
 8   over_time              1197 non-null   int64
 9   incentive              1197 non-null   int64
 10  idle_time              1197 non-null   float64
 11  idle_men               1197 non-null   int64
 12  no_of_style_change     1197 non-null   int64
 13  no_of_workers          1197 non-null   float64
 14  actual_productivity    1197 non-null   float64
dtypes: float64(6), int64(9)
memory usage: 140.4 KB
None

In [8]:
# Mostrar datos estadísticos
print(dataset.describe())

              date      quarter  ...  no_of_workers  actual_productivity
count  1197.000000  1197.000000  ...    1197.000000          1197.000000
mean     28.917293     2.020050  ...      34.609858             0.735091
std      17.098789     1.557568  ...      22.197687             0.174488
min       0.000000     0.000000  ...       2.000000             0.233705
25%      14.000000     1.000000  ...       9.000000             0.650307
50%      29.000000     1.000000  ...      34.000000             0.773333
75%      44.000000     4.000000  ...      57.000000             0.850253
max      58.000000     4.000000  ...      89.000000             1.120437

[8 rows x 15 columns]

In [9]:
# Cargar librería de datos para dividir datos
from sklearn.model_selection import train_test_split

In [10]:
# Dividir los registros en un 15% para pruebas
dataset_train, dataset_test = train_test_split(dataset, test_size=0.15, random_state=123)

In [11]:
# Mostrar información de datos de entrenamiento
print(dataset_train.head())
print(dataset_train.shape)
print(dataset_train.info())
print(dataset_train.describe())

      date  quarter  ...  no_of_workers  actual_productivity
880     30        0  ...           58.0             0.393549
681     10        4  ...           57.0             0.800161
221      7        4  ...           59.0             0.850502
1128    52        4  ...            8.0             0.960625
1114    27        4  ...           58.0             0.850071

[5 rows x 15 columns]
(1017, 15)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017 entries, 880 to 1122
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1017 non-null   int64
 1   quarter                1017 non-null   int64
 2   department             1017 non-null   int64
 3   day                    1017 non-null   int64
 4   team                   1017 non-null   int64
 5   targeted_productivity  1017 non-null   float64
 6   smv                    1017 non-null   float64
 7   wip                    1017 non-null   float64
 8   over_time              1017 non-null   int64
 9   incentive              1017 non-null   int64
 10  idle_time              1017 non-null   float64
 11  idle_men               1017 non-null   int64
 12  no_of_style_change     1017 non-null   int64
 13  no_of_workers          1017 non-null   float64
 14  actual_productivity    1017 non-null   float64
dtypes: float64(6), int64(9)
memory usage: 127.1 KB
None
              date      quarter  ...  no_of_workers  actual_productivity
count  1017.000000  1017.000000  ...    1017.000000          1017.000000
mean     29.086529     1.992134  ...      34.947394             0.732645
std      17.119439     1.550951  ...      22.234134             0.174755
min       0.000000     0.000000  ...       2.000000             0.233705
25%      14.000000     1.000000  ...       9.000000             0.650224
50%      29.000000     1.000000  ...      34.000000             0.758173
75%      44.000000     4.000000  ...      57.000000             0.850137
max      58.000000     4.000000  ...      89.000000             1.120437

[8 rows x 15 columns]

In [12]:
# Mostrar información de datos de prueba
print(dataset_test.head())
print(dataset_test.shape)
print(dataset_test.info())
print(dataset_test.describe())

     date  quarter  ...  no_of_workers  actual_productivity
156    36        4  ...            8.0             0.817424
529     0        2  ...            8.0             0.971867
856     5        3  ...            8.0             0.684028
895     2        0  ...           57.0             0.700614
35     51        1  ...            8.0             0.701812

[5 rows x 15 columns]
(180, 15)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 180 entries, 156 to 206
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   180 non-null    int64
 1   quarter                180 non-null    int64
 2   department             180 non-null    int64
 3   day                    180 non-null    int64
 4   team                   180 non-null    int64
 5   targeted_productivity  180 non-null    float64
 6   smv                    180 non-null    float64
 7   wip                    180 non-null    float64
 8   over_time              180 non-null    int64
 9   incentive              180 non-null    int64
 10  idle_time              180 non-null    float64
 11  idle_men               180 non-null    int64
 12  no_of_style_change     180 non-null    int64
 13  no_of_workers          180 non-null    float64
 14  actual_productivity    180 non-null    float64
dtypes: float64(6), int64(9)
memory usage: 22.5 KB
None
             date     quarter  ...  no_of_workers  actual_productivity
count  180.000000  180.000000  ...     180.000000           180.000000
mean    27.961111    2.177778  ...      32.702778             0.748912
std     16.997326    1.589616  ...      21.954352             0.172803
min      0.000000    0.000000  ...       8.000000             0.256500
25%     12.750000    1.000000  ...       9.000000             0.666061
50%     28.000000    2.000000  ...      31.750000             0.800077
75%     42.000000    4.000000  ...      56.625000             0.864431
max     58.000000    4.000000  ...      60.000000             1.000602

[8 rows x 15 columns]

In [13]:
# Convertir los marcos de datos (DataFrame) a archivos separados por comas (CSV)
csvfile = pd.DataFrame(dataset_train)
csvfile.to_csv('new_number_garments_worker_productivity_train.csv', index=False)
csvfile = pd.DataFrame(dataset_test)
csvfile.to_csv('new_number_garments_worker_productivity_test.csv', index=False)

In [14]:
%ls

new_number_garments_worker_productivity.csv
new_number_garments_worker_productivity.csv.1
new_number_garments_worker_productivity.csv.2
new_number_garments_worker_productivity_test.csv
new_number_garments_worker_productivity_train.csv
sample_data/